* {
    box-sizing: border-box;
}

/*things to figure out: how to remove file extension from url.
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color:yellowgreen;
    color:aqua;
    border:10px dotted darkorchid;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

.nav {
    margin: 0;
    padding: 0;
    background-color:darksalmon;
    text-align: left;
}

.nav a {
    float: left;
    display: block;
    background-color:antiquewhite;
    font-size: 20px;
    padding: 20px 20px;
    text-decoration: none;
    color:black;
}

.nav a:hover {
    background-color:darkslategrey;
    color:white;
}

.nav .active {
    background-color:indianred;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color:bisque;
}

.flex-container .box {
    background-color:darkgray;
    width: 50%;
    text-align:justify;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.pagetitle{
    width:100%;
    float:left;
    text-align:left;
    padding: 10px;
}

.text::after{
    content: "";
    display: table;
    clear: both;
}

.dropbtn {
    background-color: antiquewhite;
    color: black;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: darkslategray;
    color: white;
}

.surprise-trigger {
    display: block;
    color: white;
    background-color: red;
}

.surprise-text {
    display: none;
    color:fuchsia;
    background-color:thistle;
    font-family: fantasy;
}

.surprise-trigger:hover .surprise-text {
    display: block;
    margin:0px;
}