* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color:yellowgreen;
    color:aqua;
    border:10px dotted darkorchid;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:darksalmon;
    text-align: left;
}

.nav a {
    float: left;
    display: block;
    background-color:antiquewhite;
    font-size: 20px;
    padding: 20px 20px;
    text-decoration: none;
}

.nav a:hover {
    background-color:burlywood;
}

.nav .active {
    background-color:indianred;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color:bisque;
}

.flex-container .box {
    background-color:darkgray;
    width: 50%;
    text-align:center;
    margin: 10px;
}

.pagetitle{
    width:100%;
    float:left;
    text-align:left;
    padding: 30px;
    margin-top: 30px;
}

.text::after{
    content: "";
    display: table;
    clear: both;
}